<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">      
    <link rel="stylesheet" href="panel-profile.css">
    <link rel="icon" href="logo.png" type="image/icon type">
    <title>Admin Panel
    </title>
</head>
<body>
    <div class="container">
        <aside>

            <div class="top">
                <!-- Logo + name -->
                <div class="logo">
                    <img src="logo.png" alt="">
                    <h2>AE<span style="color: #df1e24;">Flix</span></h2>
                </div>
            </div>

            <div class="sidebar">
                <!-- Dashboard -->
                <a href="admin-panel-dashboard"><span class="material-icons">grid_view</span><h3>Dashboard</h3></a>
                
                <!-- Profile -->
                <a href="" class="active"><span class="material-icons">person</span><h3>Profile</h3></a>

                <!-- Adminss -->
                <a href="admin-panel-admin"><span class="material-icons">verified_user</span><h3>Admins</h3></a>
                
                <!-- Customers -->
                <a href="admin-panel-customers">
                    <span class="material-icons">group</span>
                    <h3>Customers</h3>
                </a>
                
                <!-- Subscriptions -->
                <a href="admin-panel-subscribers"><span class="material-icons">subscriptions</span><h3>Subscriptions</h3></a>
                
                <!-- Actors -->
                <a href="admin-panel-actors"><span class="material-icons">theater_comedy</span><h3>Actors</h3></a>

                <!-- Producers -->
                <a href="admin-panel-producers"><span class="material-icons">video_camera_front</span><h3>Producers</h3></a>

                <!-- Directors -->
                <a href="admin-panel-directors"><span class="material-icons">videocam</span><h3>Directors</h3></a>
                
                <!-- Videos -->
                <a href="admin-panel-videos"> <span class="material-icons">theaters</span><h3>Videos</h3></a>
                
                <!-- Video Requests -->                  
                <a href="admin-panel-requests"><span class="material-icons">mail</span><h3>Requests</h3></a>            
                
                <!-- Customer Feedbacks -->
                <a href="admin-panel-feedbacks"><span class="material-icons">reviews</span><h3>Feedbacks</h3></a>
                
                <!-- Log Out -->
                <a href="landing-page"><span class="material-icons">logout</span><h3>Log Out</h3></a>
            </div>
        </aside>

        <!-- --------------------- END OF ASIDE ---------------------------- -->
        <main>

            <h1>Profile Information</h1> 

            <div class="profile-info">
                <div class="profile-pic">
                    <h3>Profile Picture</h3>
                    <div id="profile-container">
                        <img src="profile-pic.png" alt="">
                    </div>
                    <div class="pic-btn">
                        <div class="change-btn">
                            <a href="#change-div"><span>Change Picture</span></a>                        
                        </div>
                        <div class="remove-btn">
                            <a href="#divOne"><span>Remove Picture</span></a>
                        </div>
                    </div>
                 </div>

                <!-- Change picture -->
                <div class="popup" id="change-div">
                    <div class="wrapper">
                        <h2>CHANGING PICTURE</h2>
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                            <div class="content-container">
                                <form>
                                    <div class="new-profile">
                                        <label>Your Profile Picture</label>
                                        <div id="display-image"></div>
                                        <input type="file" id="image-input" accept="image/jpeg, image/png, image/jpg">
                                    </div>                                         
                                    <input type="submit" value="Save Changes">
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
  
                <!-- Confirmation popup  -->
                <div class="popup" id="divOne">
                    <div class="wrapper">
                        <h2>REMOVING PROFILE PICTURE</h2>
                        <div class="content">
                            <div class="content-container">
                                <span>Are you sure you want to remove your profile picture?</span>
                                <div class="confirmation">
                                    <a href="" id="yes">Yes</a>
                                    <a href="" id="no">No</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="general-info">
                    <h3>General Information</h3>
                    <table>
                        <tr>
                            <td>Name</td>
                            <td> <%= loginData[1] %> </td>
                        </tr>
                        
                        <tr>
                            <td>Password</td>
                            <td> <%= loginData[2] %> </td>
                        </tr>
                        <tr>
                            <td>Email Address</td>
                            <td> <%= loginData[3] %> </td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td> <%= loginData[4] %> </td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td> <%= loginData[5] %> </td>
                        </tr>
                    </table>
                    <div class="profile-btn">
                        <a href="#divOne2"><span>Update Information</span></a>
                    </div>

                    <!-- Pop up to update info  -->
                    <div class="popup" id="divOne2">
                        <div class="wrapper">
                            <h2>UPDATING PROFILE</h2>
                            <a class="close" href="#">&times;</a>
                            <div class="content">
                                <div class="content-container">
                                    <form action="#" method="post">
                                        <div class="name">
                                            <label>Full Name</label>

                                            <!-- Current Name will be fetched and placed here -->
                                            <input name="name" value="<%= loginData[1] %>" type="text">
                                        </div>

                                        <div class="password">
                                            <label>Password</label>

                                            <!-- Current Name will be fetched and placed here -->
                                            <input name="pass" value="<%= loginData[2] %>" type="text">
                                        </div>

                                        <div class="email">
                                            <label>Email</label>

                                            <!-- Current Name will be fetched and placed here -->
                                            <input name="email" value="<%= loginData[3] %>" type="text">
                                        </div>

                                        <div class="contact">
                                            <label>Contact</label>

                                            <!-- Current Name will be fetched and placed here -->
                                            <input name="contact" value="<%= loginData[4] %>" type="text">
                                        </div>

                                        <div class="gender">
                                            <label>Gender</label> 
                                            <select name="picker" id="gender-spec">
                                                <option value="" selected>Select gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>                                
                                        <input type="submit" value="Save Changes">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!------------------------END OF INSIGHTS ------------------------>
        </main>                  
        </div>
        <!------------------------------ END OF MAIN ------------------------->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="admin-panel-profile.js"></script>
</body>
</html>