<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-------------------------- CSS ------------------------>
    <link rel="stylesheet" href="user-panel-list.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" href="/other-images/logo.png" type="image/icon type">

    <title>Your Lists</title>
</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <!-- Logo + name -->
                <div class="logo">
                    <img src="/other-images/logo.png" alt="">
                    <h2>AE<span style="color: #df1e24;">Flix</span></h2>
                </div>
            </div>

            <div class="sidebar">
                <!-- Profile -->
                <a href="user-panel-profile"><span class="material-icons">person</span>
                    <h3>Your Profile</h3>
                </a>

                <!-- Subscriptions -->
                <a href="user-panel-subscriptions"><span class="material-icons">subscriptions</span>
                    <h3>Subscriptions</h3>
                </a>

                <!-- Search Videos -->
                <a href="user-panel-search"><span class="material-icons">search</span>
                    <h3>Search Videos</h3>
                </a>

                <!-- Request Videos -->
                <a href="user-panel-request"><span class="material-icons">mail</span>
                    <h3>Request Videos</h3>
                </a>

                <!-- My List -->
                <a href="" class="active"><span class="material-icons">playlist_play</span>
                    <h3>Your Lists</h3>
                </a>

                <!-- Others-->
                <a href="user-panel-others"><span class="material-icons">contact_support</span>
                    <h3>Others</h3>
                </a>

                <!-- Log Out -->
                <a href="landing-page"><span class="material-icons">logout</span>
                    <h3>Log Out</h3>
                </a>
            </div>
        </aside>

        <!-- --------------------- END OF ASIDE ---------------------------- -->
        <div class="main">
            <h1>Your Lists</h1>
            <div class="playlist">
                <div class="head">
                    <span>FAVORITES</span>
                </div>
                <div class="table-data">
                    <table>
                        <thead>
                            <tr>
                                <th>Video</th>
                                <th>Date</th>
                                <th class="last-child">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for (let i=0; i < favlist.length; i++) {%>
                                <tr>
                                    <td><%= favlist[i][0]%></td>
                                    <td><%= favlist[i][1].toDateString()%></td>
                                    <td class="action">
                                        <a href="#remove-fav"><span id="delete" style="cursor:pointer">Remove</span></a>
                                        <a href="#play-list"><span id="play" style="cursor:pointer">Play</span></a>
                                    </td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Confirmation popup  -->
            <form action="#", method="post">
                <div class="popup" id="remove-fav">
                    <div class="wrapper">
                        <h2>REMOVING FROM FAVORITE</h2>
                        <div class="content">
                            <div class="content-container">
                                <span>Are you sure you want to remove this video from favorites?</span>
                                <div class="confirmation">
                                    <a href="" name="yes" id="yes" type="submit">Yes</a>
                                    <a href="user-panel-list" name="no" id="no">No</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            

            <div class="playlist">
                <div class="head">
                    <span>PLAYLIST</span>
                </div>
                <div class="table-data">
                    <table>
                        <thead>
                            <tr>
                                <th>Playlist</th>
                                <th>Videos</th>
                                <th>Date Created</th>
                                <th class="last-child">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for (let i=0; i < playlist.length; i++) {%>
                                <tr>
                                    <td><%= playlist[i][0]%></td>
                                    <td><%= playlist[i][1]%></td>
                                    <td><%= playlist[i][2].toDateString()%></td>
                                    <td class="action">
                                        <a href="#edit-list"><span id="edit" style="cursor:pointer">Edit</span></a>
                                        <a href="#del-list"><span id="delete" style="cursor:pointer">Delete</span></a>
                                        <a href="#play-list"><span id="play" style="cursor:pointer">Play</span></a>
                                    </td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Confirmation popup  -->
            <div class="popup" id="del-list">
                <div class="wrapper">
                    <h2>DELETING PLAYLIST</h2>
                    <div class="content">
                        <div class="content-container">
                            <span>Are you sure you want to delete this playlist?</span>
                            <div class="confirmation">
                                <a href="" id="yes">Yes</a>
                                <a href="" id="no">No</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pop up to edit new  -->
            <div class="popup" id="edit-list">
                <div class="wrapper">
                    <h2>EDITING PLAYLIST</h2>
                    <a class="close" href="#">&times;</a>
                    <div class="content">
                        <div class="content-container">
                            <form>
                                <div class="name">
                                    <label>Playlist name</label>
                                    <input value="Vibes" type="text">
                                </div>
                                <input type="submit" value="Save changes">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pop up to select video new  -->
            <div class="popup" id="play-list">
                <div class="wrapper">
                    <h2>SELECTING VIDEO</h2>
                    <a class="close" href="#">&times;</a>
                    <div class="content">
                        <div class="content-container">
                            <form>
                                <div class="name">
                                    <label style="width: 25%; margin-left: 6rem;">Video</label>
                                    <select style="margin-left: 1.2rem;">
                                        <option value="">The Queen's Gambit</option>
                                        <option value="">Bird Box</option>
                                        <option value="">Red Notice</option>
                                    </select>
                                </div>
                                <input type="submit" value="Play">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="playlist">
                <div class="head">
                    <span>WATCH LATER</span>
                </div>
                <div class="table-data">
                    <table>
                        <thead>
                            <tr>
                                <th>Video</th>
                                <th>Date</th>
                                <th class="last-child">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for (let i=0; i < watchLater.length; i++) {%>
                                <tr>
                                    <td><%= watchLater[i][0]%></td>
                                    <td><%= watchLater[i][1].toDateString()%></td>
                                    <td class="action">
                                        <a href="#remove-later"><span id="delete"
                                                style="cursor:pointer">Remove</span></a>
                                        <a href="#play-list"><span id="play" style="cursor:pointer">Play</span></a>
                                    </td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Confirmation popup  -->
            <div class="popup" id="remove-later">
                <div class="wrapper">
                    <h2>REMOVING FROM WATCH LATER</h2>
                    <div class="content">
                        <div class="content-container">
                            <span>Are you sure you want to remove video from watch later?</span>
                            <div class="confirmation">
                                <a href="" id="yes">Yes</a>
                                <a href="" id="no">No</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------ END OF MAIN ------------------------->
    </div>

    <!----------------------- JAVASCRIPT--------------------->
    <script src="user-panel-list.js"></script>

</body>

</html>